@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  line-height: 22px;
  font-size: 14px;
  background: #fff;
  color: #83a7a5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 21px;
  font-weight: 400;
  font-family: "Roboto";
  color: #0f5f5c;
}

h1 {
  font-size: 38px;
  margin: 0px 0px 10px 0px;
}

h1--bigger {
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
}

h2 {
  font-size: 32px;
  margin: 0px 0px 15px 0px;
}

h2--secondary-color {
  color: #6fb048;
}

h3 {
  font-size: 28px;
  margin: 0;
}

h4 {
  font-size: 16px;
  margin: 0 0 15px 0;
}

h5 {
  font-size: 13px;
  margin: 0px 0px 20px 0px;
}

h6 {
  font-size: 12px;
  margin: 10px 0;
}

p {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 24px;
}

@media screen and (min-width: 320px) {
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) {
  p {
    font-size: 15px;
  }
}

@media screen and (min-width: 769px) {
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: rgba(255, 255, 255, 0.7);
  border-color: #fff;
  font-family: "Montserrat";
  font-size: 13px;
  text-decoration: none;
}

a:hover {
  color: #fff;
  border-color: #fff;
}

.link--active {
  color: #fff;
}

.nav-list-inline {
  vertical-align: middle;
}

.nav-list-inline li {
  display: inline-block;
  margin-right: 30px;
}

.list {
  font-size: 13px;
  line-height: 28px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-nowrap {
  white-space: nowrap;
}

@media (min-width: 1060px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container--collapse {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1060px) {
  .container {
    max-width: 1060px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.container-fluid--collapse {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row--collapse {
  margin-left: 0;
  margin-right: 0;
}

.row--collapse > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1060px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-1.col-xl-1--right {
    float: right;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-2.col-xl-2--right {
    float: right;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-3.col-xl-3--right {
    float: right;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-4.col-xl-4--right {
    float: right;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-5.col-xl-5--right {
    float: right;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-6.col-xl-6--right {
    float: right;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-7.col-xl-7--right {
    float: right;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-8.col-xl-8--right {
    float: right;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-9.col-xl-9--right {
    float: right;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-10.col-xl-10--right {
    float: right;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-11.col-xl-11--right {
    float: right;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-12.col-xl-12--right {
    float: right;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-pull-1 {
    right: 8.33333%;
  }
  .col-xl-pull-2 {
    right: 16.66667%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-4 {
    right: 33.33333%;
  }
  .col-xl-pull-5 {
    right: 41.66667%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-7 {
    right: 58.33333%;
  }
  .col-xl-pull-8 {
    right: 66.66667%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-10 {
    right: 83.33333%;
  }
  .col-xl-pull-11 {
    right: 91.66667%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-push-1 {
    left: 8.33333%;
  }
  .col-xl-push-2 {
    left: 16.66667%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-4 {
    left: 33.33333%;
  }
  .col-xl-push-5 {
    left: 41.66667%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-7 {
    left: 58.33333%;
  }
  .col-xl-push-8 {
    left: 66.66667%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-10 {
    left: 83.33333%;
  }
  .col-xl-push-11 {
    left: 91.66667%;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

.btn {
  outline: none;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
}

.btn--primary {
  background: #6fb048;
  border-color: #6fb048;
}

.btn--primary:hover {
  background: #4d7a32;
  border-color: #4d7a32;
}

.btn--secondary {
  background: #83a7a5;
  border-color: #83a7a5;
}

.btn--secondary:hover {
  background: #5c827f;
  border-color: #5c827f;
}

.btn--third {
  background: rgba(255, 255, 255, 0.35);
  border-color: rgba(255, 255, 255, 0.35);
}

.btn--third:hover {
  background: rgba(217, 217, 217, 0.35);
  border-color: rgba(217, 217, 217, 0.35);
}

.btn--succes {
  background: #8cc152;
  border-color: #8cc152;
}

.btn--succes:hover {
  background: #659234;
  border-color: #659234;
}

.btn--warning {
  background: #f6bb42;
  border-color: #f6bb42;
}

.btn--warning:hover {
  background: #e19b0b;
  border-color: #e19b0b;
}

.btn--danger {
  background: #da4453;
  border-color: #da4453;
}

.btn--danger:hover {
  background: #af2331;
  border-color: #af2331;
}

.btn--long {
  min-width: 192px;
}

.btn--sm {
  padding: 10px 12px;
  font-size: 12px;
  border-radius: 2px;
  border-width: 0;
}

.btn--md {
  padding: 15px 22px;
  font-size: 14px;
  border-radius: 2px;
  border-width: 0;
}

.btn--lg {
  padding: 15px 22px;
  font-size: 14px;
  border-radius: 2px;
  border-width: 0;
}

.form__group {
  margin-bottom: 25px;
}

.form__control {
  display: block;
  width: 100%;
}

.form__control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form__control--main-form {
  color: #83a7a5;
  background: #fff;
  border-color: #c1d3d2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  padding: 15px 0px 15px 20px;
  font-size: 14px;
  border-width: 1px;
}

.form__control--secondary-form {
  color: #83a7a5;
  background: #eef1ec;
  padding: 15px 25px 15px 10px;
  font-size: 13px;
  border-radius: 3px;
}

.form__label {
  display: inline-block;
  max-width: 100%;
}

.form-inline__group {
  display: inline-block;
  margin-bottom: 0;
}

.form-inline__control {
  display: inline-block;
  width: auto;
  color: #83a7a5;
  background: #fff;
  border-color: #c1d3d2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.form-inline__control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-inline__control--main-form {
  color: #83a7a5;
  background: #fff;
  border-color: #c1d3d2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  padding: 15px 0px 15px 20px;
  font-size: 14px;
  border-width: 1px;
}

.form-inline__control--secondary-form {
  color: #83a7a5;
  background: #eef1ec;
  padding: 15px 25px 15px 10px;
  font-size: 13px;
  border-radius: 3px;
}

.form-inline__checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.form-inline__label {
  display: inline-block;
  width: auto;
}

.has-error .control__label {
  color: #a94442;
}

.has-error .control__form {
  border-color: #a94442;
  padding-right: 40px;
}

.has-error .control__form:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-warning .control__label {
  color: #f6bb42;
}

.has-warning .control__form {
  border-color: #f6bb42;
  padding-right: 40px;
}

.has-warning .control__form:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-success .control__label {
  color: #8cc152;
}

.has-success .control__form {
  border-color: #8cc152;
  padding-right: 40px;
}

.has-success .control__form:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

@media (min-width: 1060px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container--collapse {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1060px) {
  .container {
    max-width: 1060px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.container-fluid--collapse {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row--collapse {
  margin-left: 0;
  margin-right: 0;
}

.row--collapse > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1060px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-1.col-xl-1--right {
    float: right;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-2.col-xl-2--right {
    float: right;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-3.col-xl-3--right {
    float: right;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-4.col-xl-4--right {
    float: right;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-5.col-xl-5--right {
    float: right;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-6.col-xl-6--right {
    float: right;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-7.col-xl-7--right {
    float: right;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-8.col-xl-8--right {
    float: right;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-9.col-xl-9--right {
    float: right;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-10.col-xl-10--right {
    float: right;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-11.col-xl-11--right {
    float: right;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-12.col-xl-12--right {
    float: right;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-pull-1 {
    right: 8.33333%;
  }
  .col-xl-pull-2 {
    right: 16.66667%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-4 {
    right: 33.33333%;
  }
  .col-xl-pull-5 {
    right: 41.66667%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-7 {
    right: 58.33333%;
  }
  .col-xl-pull-8 {
    right: 66.66667%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-10 {
    right: 83.33333%;
  }
  .col-xl-pull-11 {
    right: 91.66667%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-push-1 {
    left: 8.33333%;
  }
  .col-xl-push-2 {
    left: 16.66667%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-4 {
    left: 33.33333%;
  }
  .col-xl-push-5 {
    left: 41.66667%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-7 {
    left: 58.33333%;
  }
  .col-xl-push-8 {
    left: 66.66667%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-10 {
    left: 83.33333%;
  }
  .col-xl-push-11 {
    left: 91.66667%;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}

.block-absolute-top, .block-absolute-bottom {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.block-absolute-top > .block-inner, .block-absolute-bottom > .block-inner {
  display: block;
}

.block {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.block-fill-height {
  height: 100.1vh;
}

.block-collapse {
  padding: 0;
}

.block-inverse {
  color: #fff;
}

.block-inverse h1, .block-inverse h2, .block-inverse h3, .block-inverse h4, .block-inverse h5, .block-inverse h6,
.block-inverse .h1, .block-inverse .h2, .block-inverse .h3, .block-inverse .h4, .block-inverse .h5, .block-inverse .h6 {
  color: inherit;
}

.block-absolute-top {
  top: 0;
}

.block-absolute-bottom {
  bottom: 0;
}

.block-overlay {
  position: relative;
  z-index: 1;
}

.block-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: inherit;
  opacity: 0.8;
}

.block-overlay-opacity-lg:after {
  opacity: 0.9;
}

.block-overlay-opacity-sm:after {
  opacity: 0.4;
}

.block-overlay-opacity-xs:after {
  opacity: 0.2;
}

.block-relative {
  position: relative;
  z-index: 2;
}

.block-header {
  display: table-header-group;
  height: 1%;
}

.block-header .block-inner {
  vertical-align: top;
}

.block-content {
  display: table-row;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .block-content {
    height: 100%;
  }
}

.block-footer {
  display: table-footer-group;
  height: 1%;
}

.block-footer .block-inner {
  vertical-align: bottom;
}

.block-inner {
  display: table-cell;
  vertical-align: middle;
}

.block-inner:before {
  content: '';
  float: left;
}

.block-title {
  font-size: 36px;
}

.block-description {
  font-size: 24px;
}

.block-xs {
  padding: 5px 0;
}

.block-sm {
  padding: 15px 0;
}

.block-lg {
  padding: 30px 0;
}

.block-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?iwbab7");
  src: url("../fonts/icomoon.eot?iwbab7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?iwbab7") format("truetype"), url("../fonts/icomoon.woff?iwbab7") format("woff"), url("../fonts/icomoon.svg?iwbab7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "";
}

.icon-lab:before {
  content: "";
}

.icon-box:before {
  content: "";
}

.icon-earth:before {
  content: "";
}

.icon-lamp:before {
  content: "";
}

.icon-stick:before {
  content: "";
}

.icon-cloud:before {
  content: "";
}

.icon-ok:before {
  content: "";
}

.icon-safe:before {
  content: "";
}

.icon-paper-plane:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-inst:before {
  content: "";
}

.icon-ball:before {
  content: "";
}

.icon-soc-2:before {
  content: "";
}

.icon-circle:before {
  content: "";
}

.block {
  background: url(../images/header-bg.jpg) no-repeat;
  background-size: cover;
  background-color: #2d6e70;
  min-height: 660px;
  position: relative;
}

.block__header {
  padding: 25px 0;
}

.block__header:before, .block__header:after {
  content: " ";
  display: table;
}

.block__header:after {
  clear: both;
}

.block__content {
  color: #fff;
}

.block__title {
  color: #fff;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 15px;
}

.block__text {
  font-size: 16px;
  padding-bottom: 20px;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.navbar__text {
  float: left;
  margin-top: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 25px;
  padding-left: 25px;
  color: #fff;
}

.navbar__text .icon-phone {
  padding-right: 5px;
}

.navbar__nav {
  float: right;
  padding-top: 10px;
}

.navbar__item {
  display: inline-block;
  padding-right: 30px;
}

.navbar__item:last-child {
  padding-right: 40px;
}

.navbar__link {
  display: block;
  text-transform: uppercase;
}

.navbar .btn {
  float: right;
}

.logo {
  float: left;
}

.logo img {
  display: block;
  padding-top: 10px;
}

.feature__icon {
  font-size: 40px;
}

.feature__icon--sm {
  font-size: 20px;
}

.feature__column {
  display: table;
}

.feature__column .feature > * {
  display: table-cell;
}
