$icomoon-font-path: "../fonts" !default;

$icon-phone: "\e903";
$icon-lab: "\e904";
$icon-box: "\e905";
$icon-earth: "\e906";
$icon-lamp: "\e907";
$icon-stick: "\e908";
$icon-cloud: "\e909";
$icon-ok: "\e90a";
$icon-safe: "\e90b";
$icon-paper-plane: "\e90c";
$icon-twitter: "\e90d";
$icon-facebook: "\e90e";
$icon-inst: "\e90f";
$icon-ball: "\e910";
$icon-soc-2: "\e911";
$icon-circle: "\e902";

