.features {
    &__title {
        &--padding-top{
            padding-top: 5px;
        }
    }
    &__icon {
        font-size: 52px;
        padding-bottom: 20px;
        display: block;
        color: $global-secondary-color;
        &--sm {
            font-size: 30px;
            padding-bottom: 10px;
            padding-right: 20px;
            float: left;
        }
    }
    &__description {

    }
    &--padding-bottom {
        padding-bottom: 60px;
    }
}
