.feature {
    &__title {}
    &__icon {
        font-size: 40px;
        &--sm {
            font-size: 20px;
        }
    }
    &_description {}
    &__header {}
    &__column {
        display: table;
        .feature {
            > * {
                display: table-cell;
            }
        }
    }
}
