.heading {
	&__title {
		padding-bottom: 15px;
        position: relative;
        &:after {
            content: '';
            display: block;
            height: 1px;
            width: 65px;
            border-bottom: 1px solid #6fb048;
            margin: 0 auto;
            padding-top: 20px;
        }
	}
	&__title-second {
		font-size: 28px;
		padding-bottom: 5px;
	}
	&__mail{
		display: block;
		color: #0f5f5c;
		font-size: 18px;
		padding-top: 40px;
	}
	&__description {
		
	}
	&--padding-bottom{
		padding-bottom: 50px;
	}
	&--padding-bottom-sm {
		padding-bottom: 20px;
	}
	&--padding-bottom-md {
		padding-bottom: 30px;
	}
	&--padding-bottom-xs {
		padding-bottom: 10px;
	}
	&__icon{
		color: $global-secondary-color;
		font-size: 44px;
		display: inline-block;
		padding-top: 40px;
		padding-bottom: 10px;
	}
	&--primary-color {
		color: $headline-secondary-color-h2;
	}
}